.warndialog {
  height:860px;

  @media (max-width: 1920px) {
    height:760px;
  }

  @media (min-width: 1921px) {
    height:860px;
  }
}

.warnshowlist {
  height:860px;

  @media (max-width: 1920px) {
    height:710px;
  }

  @media (min-width: 1921px) {
    height:810px;
  }
}