:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */ /* light dark theam */
}
html{
  /* 基准字体大小 (16px) 的62.5% = 10px (方便rem计算) */
  font-size: 62.5%;
}
*{
  margin:0;
  padding: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  background: url('@assets/usedimg/body-zz.png') no-repeat center / cover;

  color: #fff;

  /* 使用vw单位实现响应式 (1.6vw = 16px在1000px视口宽度) */
  font-size: 1.6vw;
  /* 设置最小、理想值和最大字体大小 */
  font-size: clamp(14px, 1.6vw, 18px);
}

.some-font-size{
  /* 相对body的2.5倍大小 */
  font-size: 2.5rem;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

/* 禁用元素默认滚动行为 */
.no-scroll {
  touch-action: none;
  overscroll-behavior: contain;
}

.set-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul,li,ol{
  list-style: none;
}
#app{
  width: 100%;
  overflow: hidden;
}

.height100{
  height:100vh!important;
}

.card-bg-com{
  background: rgba(79, 92, 97, .5);
}
.card-title-bg-com{
  background: linear-gradient(90deg, rgba(0, 184, 191, 0.3) 0%, rgba(41, 227, 191, 0) 100%);
}
/* 整个滚动条 */
::-webkit-scrollbar {
  width: 0; /* 垂直滚动条宽度 */
  height: 0; /* 水平滚动条高度 */
}

/* 滚动条轨道（背景） */
::-webkit-scrollbar-track {
  background: #456c6e; 
  border-radius: 3px;
}

/* 滚动条滑块（可拖动部分） */
::-webkit-scrollbar-thumb {
  background: #08b5bb; 
  border-radius: 3px;
}

/* 鼠标悬停时滑块样式 */
::-webkit-scrollbar-thumb:hover {
  background: #23b79f; 
}

/* 滚动条角落（水平和垂直滚动条交汇处） */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
.autoWrap {
  overflow-wrap: break-word;  /* 首选方式 */
  word-break: break-word;    /* 备用方式 */
  hyphens: auto;            /* 支持连字符的优雅断词 */
  white-space: normal;      /* 确保空格正常处理 */
}
/*文字从上往下渐变*/
.gradientTxt{
  font-family: D-DIN Exp-DINExp, D-DIN Exp-DINExp;
  font-weight: bold;
  background: linear-gradient(to bottom, #12A6F5, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txtellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;        /* 根据容器宽度自适应 */
}
/*移除 input 获取焦点后的默认样式-蓝色边框或轮廓线*/
input:focus {
  outline: 0;
  box-shadow: none;
  border-color: inherit; /* 可选，保持边框颜色不变 */
}